{{define "crear"}}
{{template "cabecera"}}

<div class="card">
    <div class="card-header">
        Actores
    </div>
    <div class="card-body">
        <form method="post" action="/insertar">
            <div class="form-group">
              <label for="">Nombre:</label>
              <input type="text"
                class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Nombre del actor</small>
            </div>
            <div class="form-group">
              <label for="">Edad</label>
              <input type="text" class="form-control" name="edad" id="edad" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Edad del actor</small>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Actor</button>
        </form>
    </div>
</div>

{{template "pie"}}
{{end}}