{{define "inicio"}}
{{template "cabecera"}}

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jane</td>
                    <td>25</td>
                    <td>Editar | Borrrar</td>
                </tr>
            </tbody>
        </table>

{{template "pie"}}
{{end}}