{{define "inicio"}}
{{template "cabecera"}}

    <a name="" id="" class="btn btn-primary" href="/actor" role="button">Agregar Actor</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{range.}}
                <tr>
                    <td>{{.id}}</td>
                    <td>{{.nombre}}</td>
                    <td>{{.edad}}</td>
                    <td>Editar {{.id}} | Borrar {{.id}}</td>
                </tr>
        {{end}}
        </tbody>
    </table>

{{template "pie"}}
{{end}}